.box {
    text-align: center;
    margin: 0 10px 10px;
    width: 20vw;
    background-color: #0347ff40;
    border: 1px solid #114ff840;
    border-radius: 8px;
    padding: 7px;
}
    .box button {
        width: 100px;
        height: 33px;
        border-radius: 8px;
        border: 2px solid lightblue;
        background-color: #0f4df8fc;
        color: white;
    }
h1, p {
    margin: 5px 15px;
}