@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.box {
    text-align: center;
    margin: 0 15px 25px;
    width: 85%;
    background-color: #ff2e2e;
    border-radius: 8px;
    font-family: 'Balsamiq Sans', cursive;
    box-shadow: 0px 2px 9px 0px;
}
    .box button {
        width: 165px;
        height: 45px;
        border-radius: 8px;
        border: 2px solid white;
        background-color: #e35f1f;
        color: #ffffff;
        font-size: 1em;
        font-family: 'Balsamiq Sans', cursive;
        margin-bottom: 10px;
    }

    .box img {
        margin: 15px;
    }

.text {
    background-color: #fffef2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    }

    .text h1 {
        padding-top: 10px;
        margin: 0;
        color: #36383a;
    }

    .text p {
        padding: 0 15px 0 15px;
        color: #36383a;
    }

    .text .price {
        color: #1a1818;
        text-align: end;
        font-size: 1.5em;
        margin: 0;
    }