@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.box {
    text-align: center;
    margin: 0 15px 25px;
    min-width: 75%;
    height: 330px;
    border-radius: 8px;
    font-family: 'Balsamiq Sans', cursive;
    box-shadow: 0px 2px 9px 0px;
    position: relative;
}
    .box button {
        width: 65%;
        height: 14%;
        border-radius: 8px;
        position: absolute;
        border: 2px solid white;
        background-color: #e35f1f;
        color: #ffffff;
        font-size: 1em;
        font-family: 'Balsamiq Sans', cursive;
        margin-bottom: 10px;
        top: 270px;
        left: 50px;
    }
    .drink-img img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .text h1 {
        padding-top: 10px;
        margin: 0;
        color: #36383a;
        font-family: 'MedievalSharp', cursive;
    }

    .text p {
        padding: 0 15px 0 15px;
        color: #36383a;
    }

    .text .price {
        color: #1a1818;
        text-align: end;
        font-size: 1.5em;
        margin: 0;
    }