.search {
	padding: 10px 10px 20px;
    background-color: #fbfaf0;
	}
		.search input {
			width: 60%;
			height: 23px;
			border-radius: 0 8px 8px 0;
			border: 1px solid #b5b5b5;
		}
		.search button {
			width: 15%;
			height: 27px;
			border-radius: 8px 0 0 8px;
			border: none;
			background-color: #ff2e2e;
			color: white;
		}