@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


.App-header{
	height: 30vh;
	flex-wrap: wrap;
	padding: 20px;
	background-color: var(--color-primary);
}

.baka-gaijin {
  font-family: var(--font-primary);
  text-align: center;
  margin: 20px;
  font-size: 4.5em;
  font-weight: 900;
  color: var(--background-color);
  text-shadow: #302929 10px 5px 5px;
}

h2 {
	padding: 25px 5px;
	margin: 0 10px;
	color: var(--color-text-primary);
	font-size: 2em;
}

.contact {
	padding: 50px 0 5px;
	display: flex;
	justify-content: space-evenly;
	font-weight: 500;
}

.copry {
	text-align: center;
    padding: 10px;
    color: #36383a;
    font-weight: 500;
}

 @media screen and (min-width: 600px) {
	.baka-gaijin {
		margin: 8px;
    	font-size: 5.5em;
	  }

 }