@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.App-header{
	flex-wrap: wrap;
    padding: 20px;
    background-color: #ff2e2e;
}
/* #fbfaf0 */
.baka-gaijin {
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  margin: 50px;
  font-size: 4.5em;
  font-weight: 900;
  color: #fbfaf0;
}
.search {
  text-align: center;
  margin: 40px;
}
  .search input {
	width: 300px;
	height: 30px;
	border-radius: 8px;
	border: 1px solid grey;
  }
  .search button {
	width: 100px;
	height: 33px;
	border-radius: 8px;
	border: 2px solid lightblue;
	background-color: #0f4df8fc;
	color: white;
  }
