:root {
  --color-primary: #ff2e2e;
  --color-secondary: #e35f1f;
  --font-primary: 'MedievalSharp', cursive;
  --font-secondary: 'Balsamiq Sans', cursive;
  --color-text-primary: #36383a;
  --color-text-secondary: #515354;
  --background-color: #fbfaf0;

}

body, html {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font-secondary);
}

button {
	cursor: pointer;
}